.welcomeSamuel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
}
.welcomeSamuelWrapper {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 19.64%;
    left: 0%;
}
.yourReviewDashboard {
    position: absolute;
    height: 44.64%;
    width: 53.6%;
    top: 55.36%;
    left: 20.4%;
    font-size: 16px;
    color: #605e5e;
    display: inline-block;
}
.welcome {
    width: 100%;
    position: relative;
    height: 56px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: 'Bebas Neue';
}


.hero{
    
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
    color: black;
    align-items: center;
}